* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

#size-input {
    padding: 10px;
    margin: 20px;
    background: darkturquoise;

}

.grid-container {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    text-align: center;
}

.grid-container > div {
    border: 1px solid black;
    background: lightblue;
}