* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    width: 80%;
    height: 800px;
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    text-align: center;
}

.grid-container > div {
    border: 1px solid black;
    background: lightblue;
}